@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Arizonia|Cinzel+Decorative|Lovers+Quarrel|Megrim');
body
	{ 
	background: #FFE4E1; 
	background-image: url(https://raw.githubusercontent.com/katvic/encore/master/transparent-plant-monstera-2.png); 
	background-repeat: no-repeat;
	background-position: right bottom; 
	background-attachment: fixed; 
	font-family: helvetica;
	color: #DB7093;  
}
li {
	display: list-item;
	list-style-type: simp-chinese-informal;
	text-align: -webkit-match-parent;
	padding: 0px 150px 10px;

}
ol { 
    padding: 0px 100px 0px;
    font-style: italic;
}
h1 {
 	font-family: 'Amatic SC', cursive;
    font-size: 300%; 
    line-height: 0.1; 
    color: #AC4F6D;
}
h2 {	
	font-family: 'Lovers Quarrel', cursive;
	font-size: 250%;
	line-height: 0.1; 
}
h3	{
	padding: 0px 150px	0px;
	font-family: 'Cinzel Decorative', cursive;
	text-decoration: bold;
	font-size: 150%;
	color: #AC4F6D;
}
