body
	{ 
	background: #FFE4E1; 
	background-image: url(https://raw.githubusercontent.com/katvic/encore/master/transparent-plant-monstera-2.png); 
	background-repeat: no-repeat;
	background-position: right bottom; 
	background-attachment: fixed; 
	font-family: helvetica;
	color: #DB7093;  }
li {
	display: list-item;
	list-style-type: simp-chinese-informal;
	text-align: -webkit-match-parent;
}
